
<link rel="stylesheet" href="css/homecss/home-container.css">
<link rel="stylesheet" href="/css/homecss/switchmode.css">

<section class="container">
    <section class="container-left">
        <div class="header-switch sub-switch">

            <div class="header-switch__box">
                <div style="color: rgba(235, 235, 235, 0.842)" class="header-switch-icon switch-moon">
                    <i class="fas fa-moon"></i>
                </div>
                <div style="color: rgb(226, 226, 116)" class="header-switch-icon switch-sun">
                    <i class="fas fa-sun"></i>
                </div>
            </div>
            
        </div>
        <div class="container-left__favorite">
            <ul class="favorite-list">
               
                <li class="favorite-item">
                    <img src="./assets/img/Home/item-fav-1.png" alt="" class="favorite-item__img">
                    <span class="favorite-item__text">Bạn bè</span>
                </li>
                <li class="favorite-item">
                    <img src="./assets/img/Home/item-fav-2.png" alt="" class="favorite-item__img">
                    <span class="favorite-item__text">Đã lưu</span>
                </li>
                <li class="favorite-item">
                    <img src="./assets/img/Home/item-fav-3.png" alt="" class="favorite-item__img">
                    <span class="favorite-item__text">Watch</span>
                </li>
                <li class="favorite-item">
                    <img src="./assets/img/Home/item-fav-4.png" alt="" class="favorite-item__img">
                    <span class="favorite-item__text">Nhóm</span>
                </li>
                <li class="favorite-item">
                    <img src="./assets/img/Home/item-fav-5.png" alt="" class="favorite-item__img">
                    <span class="favorite-item__text">Marketplace</span>
                </li>
            </ul>
            <div class="container-left__more more-less-btn">
                <div class="container-left__more-icon more-less-icon">
                    <i class="fas fa-chevron-down"></i>
                </div>
                <span class="container-left__more-text more-less-text">Xem thêm</span>
            </div>
            <ul class="container-left__more-list">
                <li class="favorite-item">
                    <img src="./assets/img/Home/item-fav-6.png" alt="" class="favorite-item__img">
                    <span class="favorite-item__text">Chơi game</span>
                </li>
                <li class="favorite-item">
                    <img src="./assets/img/Home/item-fav-7.png" alt="" class="favorite-item__img">
                    <span class="favorite-item__text">Yêu thích</span>
                </li>
                <li class="favorite-item">
                    <img src="./assets/img/Home/item-fav-8.png" alt="" class="favorite-item__img">
                    <span class="favorite-item__text">Sự kiện</span>
                </li>
                <li class="favorite-item">
                    <img src="./assets/img/Home/item-fav-9.png" alt="" class="favorite-item__img">
                    <span class="favorite-item__text">Kỉ niệm</span>
                </li>
            </ul>
            <div class="container-left__less more-less-btn">
                <div class="container-left__more-icon more-less-icon">
                    <i class="fas fa-chevron-up"></i>
                </div>
                <span class="container-left__more-text more-less-text">Ẩn bớt</span>
            </div>
        </div>
        <div class="container-left__shortcut">
            <div class="shortcut-head">
                <div class="shortcut-head__text">
                    Lối tắt của bạn
                </div>
                <span class="shortcut-head__btn">Chỉnh sửa</span>
            </div>
            <ul class="shortcut-list">
                <li class="shortcut-item">
                    <img src="./assets/img/Home/avatar-notify-4.jpg" alt="" class="shortcut-item__img">
                    <span class="shortcut-item__text">Titan Gaming</span>
                </li>
                <li class="shortcut-item">
                    <img src="./assets/img/Home/item-group-1.png" alt="" class="shortcut-item__img">
                    <span class="shortcut-item__text">Cờ tướng</span>
                </li>
                <li class="shortcut-item">
                    <img src="./assets/img/Home/item-group-2.png" alt="" class="shortcut-item__img">
                    <span class="shortcut-item__text">Nametests</span>
                </li>
                <li class="shortcut-item">
                    <img src="./assets/img/Home/item-group-3.png" alt="" class="shortcut-item__img">
                    <span class="shortcut-item__text">J2TEAM Community</span>
                </li>
                <li class="shortcut-item">
                    <img src="./assets/img/Home/item-group-4.png" alt="" class="shortcut-item__img">
                    <span class="shortcut-item__text">Chia sẻ cùng thách đấu</span>
                </li>
            </ul>
            <div class="container-left__more more-less-btn">
                <div class="container-left__more-icon more-less-icon">
                    <i class="fas fa-chevron-down"></i>
                </div>
                <span class="container-left__more-text more-less-text">Xem thêm</span>
            </div>
            <ul class="container-left__more-list">
                <li class="shortcut-item">
                    <img src="./assets/img/Home/item-group-5.png" alt="" class="shortcut-item__img">
                    <span class="shortcut-item__text">Ngôi sao lấp lánh Offical</span>
                </li>
                <li class="shortcut-item">
                    <img src="./assets/img/Home/item-group-6.png" alt="" class="shortcut-item__img">
                    <span class="shortcut-item__text">Sinh viên OU</span>
                </li>
                <li class="shortcut-item">
                    <img src="./assets/img/Home/item-group-7.png" alt="" class="shortcut-item__img">
                    <span class="shortcut-item__text">LÀM CHỦ SLIDE</span>
                </li>
            </ul>
            <div class="container-left__less more-less-btn">
                <div class="container-left__less-icon more-less-icon">
                    <i class="fas fa-chevron-up"></i>
                </div>
                <span class="container-left__less-text more-less-text">Ẩn bớt</span>
            </div>
        </div>
        <footer class="container-left__footer">
            <p class="container-left__footer-text">
                <a href="">
                    Quyền riêng tư
                </a>
                -
                <a href="">
                    Điều khoản
                </a>
                -
                <a href="">
                    Quảng cáo
                </a>
                -
                <a href="">
                    Cookie
                </a>
                -
                <span class="container-left__footer-more-text">Xem thêm</span>
                <br>
                Facebook &copy; 2021
            </p>
        </footer>
    </section>
    <section class="container-main">
        <%- include('story') %>

        <%- include('postnew') %>
        <!-- <div class="container-mess-room">
            <div class="container-mess-room__btn">
                <i class="fas fa-rss container-mess-room__btn-icon"></i>
                <span class="container-mess-room__btn-text">Tạo phòng họp mặt</span>
            </div>
            <ul class="container-mess-room__list">
                <li class="container-mess-room__item">
                    <img src="./assets/img/Home/thangfly.jpg" alt="" class="container-mess-room__item-img">
                </li>
                <li class="container-mess-room__item">
                    <img src="./assets/img/Home/faptv.jpg" alt="" class="container-mess-room__item-img">
                </li>
            </ul>
        </div> -->
        <div class="container-newsfeed-list newf-list">
             <%- include('post-item') %>
            
        </div>
    </section>
    <section class="container-right">
        <div class="container-right__page">
            <div class="container-right__page-head">
                <p class="container-right__page-head-text">
                    Trang của bạn
                </p>
                <div class="container-right__page-more more-dots">
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </div>
            <div class="container-right__page-item">
                <img src="./assets/img/Home/avatar-notify-4.jpg" alt="" class="container-right__page-item-avatar">
                <span class="container-right__page-item-title">Titan Gaming</span>
            </div>
            <div class="container-right__page-ads">
                <div class="container-right__page-ads-img">
                    <i class="fas fa-volume-down"></i>
                </div>
                <div class="container-right__page-ads-text">
                    Tạo quảng cáo
                </div>
            </div>
        </div>

        <div class="container-right__connect">
            <div class="container-right__connect-head">
                <p class="container-right__connect-head-text">
                    Người liên hệ
                </p>
                <div class="container-right__connect-head-more more-dots">
                    <i class="fas fa-ellipsis-h"></i>
                </div>
            </div>
            <ul class="container-right__connect-list">
                <li class="container-right__connect-item">
                    <div class="container-right__connect-item-avatar">
                        <img src="./assets/img/Home/user-1.jpg" alt="" class="container-right__connect-item-img">
                    </div>
                    <span class="container-right__connect-item-name">Nguyễn Hoàng Uyên My</span>
                </li>
                <li class="container-right__connect-item">
                    <div class="container-right__connect-item-avatar">
                        <img src="" alt="" class="container-right__connect-item-img">
                    </div>
                    <span class="container-right__connect-item-name">Dương Hoàng Phi Long</span>
                </li>
                <li class="container-right__connect-item">
                    <div class="container-right__connect-item-avatar">
                        <img src="" alt="" class="container-right__connect-item-img">
                    </div>
                    <span class="container-right__connect-item-name">An Lê</span>
                </li>
                <li class="container-right__connect-item">
                    <div class="container-right__connect-item-avatar">
                        <img src="" alt="" class="container-right__connect-item-img">
                    </div>
                    <span class="container-right__connect-item-name">Nhật Hào</span>
                </li>
                <li class="container-right__connect-item">
                    <div class="container-right__connect-item-avatar">
                        <img src="" alt="" class="container-right__connect-item-img">
                    </div>
                    <span class="container-right__connect-item-name">Trương Thành Đạt</span>
                </li>
                <li class="container-right__connect-item">
                    <div class="container-right__connect-item-avatar">
                        <img src="" alt="" class="container-right__connect-item-img">
                    </div>
                    <span class="container-right__connect-item-name">Phú Dừa</span>
                </li>
                <li class="container-right__connect-item">
                    <div class="container-right__connect-item-avatar">
                        <img src="" alt="" class="container-right__connect-item-img">
                    </div>
                    <span class="container-right__connect-item-name">Phước Thịnh Nguyễn</span>
                </li>
            </ul>
        </div>
    </section>
</section>