<section class="container-main">
    <%- include('story') %>

    <%- include('postnew') %>
    <!-- <div class="container-mess-room">
        <div class="container-mess-room__btn">
            <i class="fas fa-rss container-mess-room__btn-icon"></i>
            <span class="container-mess-room__btn-text">Tạo phòng họp mặt</span>
        </div>
        <ul class="container-mess-room__list">
            <li class="container-mess-room__item">
                <img src="./assets/img/Home/thangfly.jpg" alt="" class="container-mess-room__item-img">
            </li>
            <li class="container-mess-room__item">
                <img src="./assets/img/Home/faptv.jpg" alt="" class="container-mess-room__item-img">
            </li>
        </ul>
    </div> -->
    <div class="container-newsfeed-list newf-list">
         <%- include('post-item') %>    
    </div>
</section>