<section class="container-main">
    <%- include('story') %>

    <%- include('postnew') %>
    <div class="container-newsfeed-list newf-list">
         <%- include('post-item') %>    
    </div>
</section>