<section class="container-right">
    <div class="container-right__page">
        <div class="container-right__page-head">
            <p class="container-right__page-head-text">
                Trang của bạn
            </p>
            <div class="container-right__page-more more-dots">
                <i class="fas fa-ellipsis-h"></i>
            </div>
        </div>
        <div class="container-right__page-item">
            <img src="./assets/img/Home/avatar-notify-4.jpg" alt="" class="container-right__page-item-avatar">
            <span class="container-right__page-item-title">Titan Gaming</span>
        </div>
        <div class="container-right__page-ads">
            <div class="container-right__page-ads-img">
                <i class="fas fa-volume-down"></i>
            </div>
            <div class="container-right__page-ads-text">
                Tạo quảng cáo
            </div>
        </div>
    </div>

    <div class="container-right__connect">
        <div class="container-right__connect-head">
            <p class="container-right__connect-head-text">
                Người liên hệ
            </p>
            <div class="container-right__connect-head-more more-dots">
                <i class="fas fa-ellipsis-h"></i>
            </div>
        </div>
        <ul class="container-right__connect-list">
            <li class="container-right__connect-item">
                <div class="container-right__connect-item-avatar">
                    <img src="./assets/img/Home/user-1.jpg" alt="" class="container-right__connect-item-img">
                </div>
                <span class="container-right__connect-item-name">Nguyễn Hoàng Uyên My</span>
            </li>
            <li class="container-right__connect-item">
                <div class="container-right__connect-item-avatar">
                    <img src="" alt="" class="container-right__connect-item-img">
                </div>
                <span class="container-right__connect-item-name">Dương Hoàng Phi Long</span>
            </li>
            <li class="container-right__connect-item">
                <div class="container-right__connect-item-avatar">
                    <img src="" alt="" class="container-right__connect-item-img">
                </div>
                <span class="container-right__connect-item-name">An Lê</span>
            </li>
            <li class="container-right__connect-item">
                <div class="container-right__connect-item-avatar">
                    <img src="" alt="" class="container-right__connect-item-img">
                </div>
                <span class="container-right__connect-item-name">Nhật Hào</span>
            </li>
            <li class="container-right__connect-item">
                <div class="container-right__connect-item-avatar">
                    <img src="" alt="" class="container-right__connect-item-img">
                </div>
                <span class="container-right__connect-item-name">Trương Thành Đạt</span>
            </li>
            <li class="container-right__connect-item">
                <div class="container-right__connect-item-avatar">
                    <img src="" alt="" class="container-right__connect-item-img">
                </div>
                <span class="container-right__connect-item-name">Phú Dừa</span>
            </li>
            <li class="container-right__connect-item">
                <div class="container-right__connect-item-avatar">
                    <img src="" alt="" class="container-right__connect-item-img">
                </div>
                <span class="container-right__connect-item-name">Phước Thịnh Nguyễn</span>
            </li>
        </ul>
    </div>
</section>