<link rel="stylesheet" href="/css/homecss/home-newfeed.css">
<link rel="stylesheet" href="/css/homecss/home-post-box.css">

<div class="post-item">
    <%- include('list-like') %>
</div>


<script>
   
</script>