
<link rel="stylesheet" href="/css/homecss/home-post-box.css">

   <div class="overplay post-new">
    <div class="overplay-body">
        
        <div class="post-box">
            <div class="post-box__head">
                <h3 class="post-box__head-text">
                    Tạo bài viết
                </h3>
                <span class="post-box__head-close" id="close-post-box">
                    <i class="fas fa-times"></i>
                </span>
            </div>
            <div class="post-box__main">
                <div class="post-box__info">
                    <img src="" alt="" class="post-box__avatar avatar-img-logined" id="avatar-postnew-overlay">    
                    <div class="post-box__info-info">
                        <p class="post-box__info-name user-name-text">
                
                        </p>
                        <div class="post-box__info-object">
                            <i class="fas fa-globe-europe"></i>
                            Công khai
                        </div>
                    </div>
                </div>

                <form class="form-submit-new-post" action="/postnew" method="post" enctype="multipart/form-data">
                    <div class="post-box__content">
                        <textarea name="content" placeholder="Bạn đang nghĩ gì thế ?" type="text" class="post-box__content-textarea" style="min-height: 40px;"></textarea>
                        <input type="hidden" class="uid-post" name="uid" value="">
                        <input type="hidden" class="date-time-post" name="date_time_post" value="">
                        <div class="post-box__content-img">
                            <img class="img-preview" src="" width="100%" alt="">
                            <span>&times;</span>
                        </div>
                    </div>
                    <div class="post-box__add">
                        <div class="post-box__add-head">
                            Thêm vào bài viết
                        </div>
                            <div class="post-box__add-more">
                                <div class="post-box__add-icon uploadfile">
                                    <input type="file" class="input-upload" name="postimg" id="image" hidden="hidden">
                                    <i style="color: #45bd62;" class="fas fa-images"></i>
                                </div>
                                <div class="post-box__add-icon">
                                    <i style="color: #f7b928;" class="fas fa-laugh"></i>
                                </div>
                                <div class="post-box__add-icon">
                                    <i style="color: #f5533d;" class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="post-box__add-icon">
                                    <i style="color: #717880;" class="fas fa-ellipsis-h"></i>
                                </div>
                                <!-- <button type="submit" class="btn-submit-file">SUBMIT</button> -->
                            </div>
                    </div>
                    <button type="button" class="post-box__btn btn-disable">Đăng</button>

                </form>
            </div>
        </div>

    </div>
</div>

<script>
    document.querySelector('#close-post-box').onclick = () => {
        document.querySelector('.overplay.post-new').style.display = 'none';
    }
    document.querySelector('.post-box__content-textarea').oninput = function (e) {
        if (e.target.value != '') {
            console.log('ok nha')
            document.querySelector('.post-box__btn').classList.add('btn-active');
        } else {
            document.querySelector('.post-box__btn').classList.remove('btn-active')
        }
    }
      // Upload FIle
      document.querySelector('.post-box__add-icon.uploadfile').onclick = () => {
        console.log('hahahaha')
        document.querySelector('.input-upload').click()
    }
     // document.querySelector('.overplay.post-new').style.display = 'none'
     document.querySelector('.input-upload').onchange = function (e) {
        if (e.target.files.length > 0) {
            let src = URL.createObjectURL(e.target.files[0])
            document.querySelector('.img-preview').src = src
            document.querySelector('.img-preview').style.display = 'block'
        }
    }



    document.querySelector('.post-box__btn').onclick = function () {
        document.querySelector('.uid-post').value = Json_cookie.userId
        document.querySelector('.date-time-post').value = Date.now()
        document.querySelector('.form-submit-new-post').submit()
        document.querySelector('.overplay.post-new').style.display = 'none'
    }
</script>