
 <div class="container-story">
    <ul class="container-story__list">
        <li class="container-story__item">
            <img src="" alt="" class="avt container-story__item-bg">
            <span class="container-story__item-avatar">+</span>
            <span class="container-story__item-name">Tạo tin</span>
        </li>
        <li class="container-story__item">
            <img class="container-story__item-avatar" src="./assets/img/Home/avatar-mess-3.jpg" alt="">
            <img src="./assets/img/Home/bg-story.jpg" alt="" class="container-story__item-bg">
            <span class="container-story__item-name">Lê Hồ</span>
        </li>
        <li class="container-story__item">
            <img class="container-story__item-avatar" src="./assets/img/Home/thangfly.jpg" alt="">
            <img src="./assets/img/Home/thangfly-bg.jpg" alt="" class="container-story__item-bg">
            <span class="container-story__item-name">Thăng Fly Comics</span>
        </li>
        <li class="container-story__item">
            <img class="container-story__item-avatar" src="./assets/img/Home/avatar-mess-1.jpg" alt="">
            <img src="./assets/img/Home/bg-story1.jpg" alt="" class="container-story__item-bg">
            <span class="container-story__item-name">Nguyễn Danh Nhân</span>
        </li>
        <li class="container-story__item">
            <img class="container-story__item-avatar" src="./assets/img/Home/faptv.jpg" alt="">
            <img src="./assets/img/Home/faptv-bg.jpg" alt="" class="container-story__item-bg">
            <span class="container-story__item-name">FAPTV</span>
        </li>
    </ul>
</div>